<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Datos guardados</title>
</head>

<body>
	<div align="center">
		<h1>License Plate</h1>

		<br /><br />
		<span>Datos guardados correctamente <p th:text="${dataSaved}"> datos</p></span>
	</div>
</body>

</html>