<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Administrador de usuarios</title>
</head>

<body>
	<div align="center">
		<h1>Lista de usuarios</h1>
		<a href="/new">Crear nuevo usuario</a>
		<br /><br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>User ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Profesion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.nombre}">Nombre</td>
					<td th:text="${user.apellido}">Apellido</td>
					<td th:text="${user.email}">Email</td>
					<td th:text="${user.profesion}?:''">Profesion</td>
					<td>
						<a th:href="@{'/edit/' + ${user.id}}">Editar</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${user.id}}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>