<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Administrador de usuarios</title>
<link rel="stylesheet" th:href="@{/styles/style.css}">
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</head>

<body>
	<div align="center">
		<h1>Lista de usuarios</h1>
		<button type="button" class="btn btn-secondary" onclick="return crearUsuario();" >Crear Usuario</button><br />
		<br />
		<table id="tableList" border="1" cellpadding="10">
			<thead>
				<tr>
					<th>User ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Profesion</th>
					<th>Acciones</th>
				</tr>
			</thead>

		</table>
	</div>
	<div class="modal fade" id="modalUsuario" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Usuario</h5>
				</div>
				<div class="modal-body">
					<table border="0" cellpadding="10">
						<tr>
							<td hidden><input id="inputId" /></td>
							<td>Nombre:</td>
							<td><input type="text" id="inputNombre" /></td>
						</tr>
						<tr>
							<td>Apellido:</td>
							<td><input type="text" id="inputApellido" /></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input type="text" id="inputEmail" /></td>
						</tr>
						<tr>
							<td>Profesión:</td>
							<td><input type="text" id="inputProfesion" /></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="btnGuardar">Guardar</button>
					<button type="button" class="btn btn-secondary" onclick="return hiddenModal();">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>